/* #region Common Styles */
.loginButton,
.registerButton,
.myTrainingButton,
.backToHome {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff6b08;
	transition: background-color 250ms linear;
	&:hover {
		background-color: #e95f03;
	}
}

.loginButton {
	background-color: transparent;
	&:hover {
		background-color: #d8dce9;
	}
}
/* #endregion Common Styles */

/* #region Login Link */
.loginLink,
.registerLink {
	text-align: center;
	font-weight: 500;
	font-size: 13px;
	text-decoration: underline;
	color: #ff6b08;
	transition: color 250ms linear;
	&:hover {
		color: #e95f03;
	}
}
/* #endregion Login Link */

/* #region Register Quote */
.loginButton,
.registerButton {
	width: 130px;
	height: 40px;
	font-weight: 500;
	font-size: 14px;
	color: #242a37;
	border: 1px solid #000000;
}
.registerButton {
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}
/* #endregion Register Quote */

/* #region Logo */
.logo {
	font-family: 'Abril Fatface', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #242a37;
}
/* #endregion Logo */

/* #region My Training Button */
.myTrainingButton {
	font-weight: 600;
	font-size: 16px;
	width: 171px;
	margin: 28px auto 0 auto;
	height: 42px;
	border: none;
	color: #ffffff;
}

@media screen and (min-width: 768px) {
	.myTrainingButton {
		width: 200px;
		height: 40px;
		margin-top: 40px;
	}
}
/* #endregion My Training Button */

/* #region backToHome */
.backToHome {
	width: 190px;
	height: 40px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 30px;
	box-shadow: -15px 15px 20px 0 rgba(0, 0, 0, 0.1);
}
/* #endregion My Training Button */
