.checkboxLabel {
	display: inline-block;
	cursor: pointer;
	position: relative;
}

.customCheckbox {
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #a6abb9;
	transition: border-color 250ms linear;
	background-color: #f6f7fb;
	&:hover {
		border-color: #ff6b08;
	}
}

.checkMark {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.checkbox:checked + .customCheckbox {
	border-color: #ff6b08;
}

.checkbox:checked ~ .checkMark {
	opacity: 1;
}
