/* #region Google Button */
.googleButton {
	position: relative;
	font-family: 'Roboto', sans-serif;
	display: block;
	margin: 0 auto;
	min-width: 150px;
	height: 40px;
	font-weight: 700;
	font-size: 16px;
	line-height: 2.38;
	color: #707375;
	border: none;
	margin-bottom: 28px;
	box-shadow: 0 2px 2px 0 rgba(9, 30, 63, 0.15);
	background-color: #f5f7fa;
	transition: background-color 250ms linear;
	&::before {
		position: absolute;
		content: url('/icons/google-icon.svg');
		top: 50%;
		left: 14px;
		line-height: 0;
		transform: translateY(-50%);
	}
	&:hover {
		background-color: #f6f7fb;
	}
}
/* #endregion Google Button */

/* #region Auth Buttons */
.loginSubmitButton,
.registerSubmitButton {
	min-width: 100%;
	height: 60px;
	font-weight: 600;
	font-size: 16px;
	margin: 20px 0;
	border: none;
	color: #ffffff;
	background-color: #ff6b08;
	transition: background-color 250ms linear;
	&:hover {
		background-color: #e95f03;
	}
}

.loginSubmitButton {
	margin: 20px 0 16px 0;
}

.registerSubmitButton {
	margin: 20px 0;
}

@media screen and (min-width: 768px) {
	.loginSubmitButton {
		margin: 32px 0 20px 0;
	}
	.registerSubmitButton {
		margin: 35px 0 20px 0;
	}
}
/* #endregion Auth Buttons */
