.trainingHeader {
	padding: 18px 0;
	box-shadow: 0 2px 3px 0 rgba(9, 30, 63, 0.1);
	background: #b1b5c2;
}

.title {
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.form {
	display: grid;
	row-gap: 32px;
	margin-top: 20px;
}

.fields {
	display: grid;
	row-gap: 20px;
}

.dataSelectWrapper {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;
}

.fieldWrapper {
	position: relative;
}

@media screen and (min-width: 768px) {
	.form {
		grid-template-columns: 533px auto;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 28px;
	}
	.fields {
		row-gap: 24px;
	}
	.fields > .fieldWrapper {
		grid-column: 1 / span 2;
		width: 483px;
	}
	.dataSelectWrapper {
		grid-template-columns: repeat(2, 250px);
		column-gap: 40px;
	}
}

@media screen and (min-width: 1280px) {
	.form {
		grid-template-columns: 715px auto;
	}
	.fields {
		grid-template-columns: 715px;
	}
	.dataSelectWrapper {
		justify-content: flex-end;
		column-gap: 44px;
	}
	.fields > .fieldWrapper {
		width: 715px;
	}
}
