/* #region Smooth appearance */
.authSection,
.formSection,
.planningListSection,
.timerSection,
.goalSection,
.trainingFormSection,
.chartSection,
.resultsSection {
	animation: smooth-appearance 250ms linear;
}

@keyframes smooth-appearance {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* #endregion Smooth appearance */

.authSection {
	padding-top: 60px;
}

.formSection {
	position: relative;
	padding: 48px 0;
}

.goalSection {
	padding-bottom: 10px;
}

.planningListSection,
.planningTrainingListSection {
	padding: 10px 0 16px 0;
}

.resultsSection {
	padding-top: 32px;
}

.timerSection {
	padding-bottom: 40px;
}

.chartSection,
.trainingChartSection {
	padding-top: 16px;
}

@media screen and (min-width: 768px) {
	.formSection {
		padding: 0 0 20px 0;
	}
	.trainingFormSection {
		padding: 20px 0;
	}
	.goalSection {
		padding-bottom: 20px;
	}
	.planningListSection {
		padding: 20px 0;
	}
	.resultsSection {
		padding-top: 40px;
	}
	.timerSection {
		padding-bottom: 36px;
	}
}

@media screen and (min-width: 1280px) {
	.formSection {
		padding-bottom: 64px;
	}
	.goalSection,
	.timerSection,
	.planningTrainingListSection,
	.trainingChartSection {
		padding: 0;
	}
	.trainingFormSection {
		padding: 0 0 12px 0;
	}
}
