.sectionTitle {
	font-weight: 600;
	font-size: 19px;
	color: #242a37;
	margin-bottom: 20px;
}

.defaultBookList {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

@media screen and (min-width: 768px) {
	.defaultBookList {
		row-gap: 8px;
	}
}
