.notFoundWrapper {
	min-height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.notFoundWrapper {
		min-height: 81vh;
	}
}
